{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {% if type == 'error' %} {% set type = 'danger' %} {% endif %}
        <div class="alert alert-{{ type }} alert-dismissable" role="alert">
            {% if todstoychev_bootstrap_alert.use_close_button %}
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}

            {% if todstoychev_bootstrap_alert.use_icons %}
                {% if type == 'danger' %}
                    <i class="{{ todstoychev_bootstrap_alert.icons.error }} alert-icon"></i>
                {% endif %}

                {% if type == 'warning' %}
                    <i class="{{ todstoychev_bootstrap_alert.icons.warning }} alert-icon"></i>
                {% endif %}

                {% if type == 'info' %}
                    <i class="{{ todstoychev_bootstrap_alert.icons.info }} alert-icon"></i>
                {% endif %}

                {% if type == 'success' %}
                    <i class="{{ todstoychev_bootstrap_alert.icons.success }} alert-icon"></i>
                {% endif %}
            {% endif %}
            <span class="alert-message">
                    {{ message|raw }}
            </span>
        </div>
    {% endfor %}
{% endfor %}